In [137]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('metro-bike-share-trip-data.csv')
df.sample(5)

/Users/brian/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long
130218,23274026,600,2017-03-27T15:06:00,2017-03-27T15:16:00,3062.0,34.047749,-118.243172,3038.0,34.046822,-118.248352,6440.0,30.0,One Way,Monthly Pass,NaN,"{'longitude': '-118.248352', 'latitude': '34.0..."
13430,4831937,360,2016-08-03T19:00:00,2016-08-03T19:06:00,3032.0,34.049889,-118.255880,3049.0,34.056969,-118.253590,5873.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.25588', 'latitude': '34.04...","{'longitude': '-118.25359', 'latitude': '34.05..."
47770,6817521,660,2016-09-18T15:34:00,2016-09-18T15:45:00,3059.0,34.037949,-118.256270,3051.0,34.045422,-118.253520,6058.0,0.0,One Way,Walk-up,"{'longitude': '-118.25627', 'latitude': '34.03...","{'longitude': '-118.25352', 'latitude': '34.04..."
71725,11570941,360,2016-10-28T09:38:00,2016-10-28T09:44:00,3023.0,34.050911,-118.240967,3022.0,34.046070,-118.233093,5725.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.240967', 'latitude': '34.0...","{'longitude': '-118.233093', 'latitude': '34.0..."
5236,3736647,600,2016-07-19T16:20:00,2016-07-19T16:30:00,3006.0,34.045540,-118.256670,3047.0,34.039982,-118.266400,5823.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.25667', 'latitude': '34.04...","{'longitude': '-118.2664', 'latitude': '34.039..."

In [159]:
import decimal
def selectMostPrecise(arr):
    if len(arr) == 0:
        return arr[0]
    else:
        bestPrecision = 1
        bestVal = np.nan
        for val in arr:
            if np.isnan(val):
                continue
            d = decimal.Decimal(str(val))
            exp = d.as_tuple().exponent
            if exp < bestPrecision:
                bestVal = val
                bestPrecision = exp
        return bestVal

station_long = pd.DataFrame(df.groupby(['Starting Station ID'])['Starting Station Longitude'].unique().apply(selectMostPrecise))
station_lat = pd.DataFrame(df.groupby(['Starting Station ID'])['Starting Station Latitude'].unique().apply(selectMostPrecise))

def long_lat(row):
    return [row['Starting Station Longitude'], row['Starting Station Latitude']]

station_locs = station_lat.merge(station_long, left_index=True, right_index=True)

station_locs.apply(long_lat, axis=1)

# station_locs[station_locs.isnull().any(axis=1)]

                     Starting Station Latitude  Starting Station Longitude
Starting Station ID
3000.0                                     NaN                         NaN

In [158]:
station_locs.sample(5)

                     Starting Station Latitude  Starting Station Longitude
Starting Station ID
3058.0                             -118.233170                   34.035801
3011.0                             -118.267982                   34.041130
3069.0                             -118.248253                   34.050880
3063.0                             -118.252831                   34.049198
3024.0                             -118.248970                   34.057720

In [150]:
station_locs[station_locs.index == 3038]

                     Starting Station Latitude  Starting Station Longitude
Starting Station ID
3038.0                               34.046822                 -118.248352

In [151]:
df.shape

(132427, 16)

## Data Visuals: 
1. Display or graph 3 metrics or trends from the data set that are interesting to you.
2. Which start/stop stations are most popular?
3. What is the average distance traveled?
4. How many riders include bike sharing as a regular part of their commute?


## (Optional) Bonus features you may want to include to stand out:
- How does ridership change with seasons? Types of passes used, trip duration, etc
- Is there a net change of bikes over the course of a day? If so, when and
where should bikes be transported in order to make sure bikes match travel patterns?
- What is the breakdown of Trip Route Category-Passholder type combinations? What might make a particular combination more popular?

In [152]:
df.groupby(['Starting Station ID']).count().sort_values(['Trip ID'], ascending=False).head(1)

,Trip ID,Duration,Start Time,End Time,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long
Starting Station ID,,,,,,,,,,,,,,,
3069.0,5138,5138,5138,5138,5138,5138,5135,5095,5095,5138,5099,5138,5138,3757,5095

In [153]:
station_locs[station_locs.index == 3069]

                     Starting Station Latitude  Starting Station Longitude
Starting Station ID
3069.0                                34.05088                 -118.248253

The most popular start station is station 3069 with 5138 trips starting there.

In [154]:
df.groupby(['Ending Station ID']).count().sort_values(['Trip ID'], ascending=False).head(1)

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long
Ending Station ID,,,,,,,,,,,,,,,
3005.0,6262,6262,6262,6262,6262,6262,6262,6262,6262,6262,6245,6262,6262,4630,6262

In [155]:
station_locs[station_locs.index == 3005]

                     Starting Station Latitude  Starting Station Longitude
Starting Station ID
3005.0                                34.04855                 -118.259048

The most popular start station is station 3005 with 6262 trips ending there.

In [78]:
import math

def deg2rad(deg):
    return deg * (math.pi / 180)

def distanceLatLonKm(lat1, lon1, lat2, lon2):
    R = 6371
    dlat = deg2rad(lat2-lat1)
    dlon = deg2rad(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(deg2rad(lat1)) * math.cos(deg2rad(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = R * c
    return d

In [79]:
distanceLatLonKm(34.050140, -118.233240, 34.051941, -118.243530)

0.9689322288831954

In [80]:
def distanceKm(row):
    return distanceLatLonKm(row['Starting Station Latitude'], row['Starting Station Longitude'],
                            row['Ending Station Latitude'], row['Ending Station Longitude'])

OneWayTripDistances = df[df['Trip Route Category'] == 'One Way'].apply(distanceKm, axis=1)
tripDistances.sample()

2716    0.473487
dtype: float64

In [81]:
tripDistances.mean()

4.895506325106846

In [82]:
def kmToMi(km):
    return 0.621371192 * km

In [83]:
kmToMi(tripDistances.mean())

3.0419266006751804

In [84]:
pd.unique(df['Passholder Type'])

array(['Monthly Pass', 'Flex Pass', 'Walk-up', 'Staff Annual'], dtype=object)

In [85]:
pd.unique(df['Trip Route Category'])

array(['Round Trip', 'One Way'], dtype=object)

In [87]:
pd.unique(df['Starting Station ID'])

array([ 3014.,  3016.,  3032.,  3021.,  3022.,  3076.,  3031.,  3063.,
        3042.,  3018.,  3054.,  3006.,  3037.,  3034.,  3005.,  3047.,
        3040.,  3066.,  3033.,  3030.,  3051.,  3019.,  3055.,  3065.,
        3068.,  3007.,  3052.,  3049.,  3075.,  3067.,  3020.,  3035.,
        3062.,  3058.,  3045.,  3080.,  3038.,  3053.,  3069.,  3036.,
        3079.,  4108.,  3060.,  3008.,  3056.,  3029.,  3028.,  3023.,
        3025.,  3074.,  3057.,  3027.,  3026.,  3078.,  3077.,  3059.,
        3010.,  3064.,  3046.,  3011.,  3048.,  3081.,  3024.,  3082.,
          nan,  3000.,  3009.,  3039.])

In [88]:
df[df.isnull().any(axis=1)]

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long
55444,8410788,31680,2016-10-01T00:58:00,2016-10-01T09:46:00,3082.0,34.046520,-118.237411,3000.0,NaN,NaN,5838.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.237411', 'latitude': '34.0...",NaN
55463,8424833,39000,2016-10-01T02:03:00,2016-10-01T12:53:00,3037.0,34.034801,-118.231277,3000.0,NaN,NaN,6197.0,0.0,One Way,Walk-up,"{'longitude': '-118.231277', 'latitude': '34.0...",NaN
55517,8415350,2760,2016-10-01T10:07:00,2016-10-01T10:53:00,3040.0,34.053570,-118.266357,3000.0,NaN,NaN,5830.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.266357', 'latitude': '34.0...",NaN
55547,8419995,1680,2016-10-01T10:58:00,2016-10-01T11:26:00,3049.0,34.056969,-118.253593,3000.0,NaN,NaN,5808.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.253593', 'latitude': '34.0...",NaN
55639,8444038,8640,2016-10-01T13:39:00,2016-10-01T16:03:00,3052.0,34.051102,-118.264557,3000.0,NaN,NaN,5931.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.264557', 'latitude': '34.0...",NaN
55651,8469581,27960,2016-10-01T13:59:00,2016-10-01T21:45:00,3016.0,34.052898,-118.241562,3000.0,NaN,NaN,6296.0,0.0,One Way,Walk-up,"{'longitude': '-118.241562', 'latitude': '34.0...",NaN
55660,8449036,11400,2016-10-01T14:14:00,2016-10-01T17:24:00,3034.0,34.042061,-118.263382,3000.0,NaN,NaN,6649.0,0.0,One Way,Walk-up,"{'longitude': '-118.263382', 'latitude': '34.0...",NaN
55696,8439011,1620,2016-10-01T15:01:00,2016-10-01T15:28:00,3006.0,34.045540,-118.256668,3000.0,NaN,NaN,6101.0,0.0,One Way,Walk-up,"{'longitude': '-118.256668', 'latitude': '34.0...",NaN
55790,8443856,360,2016-10-01T16:38:00,2016-10-01T16:44:00,3010.0,34.037048,-118.254868,3080.0,34.034210,-118.254593,5718.0,NaN,One Way,Staff Annual,"{'longitude': '-118.254868', 'latitude': '34.0...","{'longitude': '-118.254593', 'latitude': '34.0..."
55883,8453843,840,2016-10-01T18:24:00,2016-10-01T18:38:00,3019.0,34.038609,-118.260857,3038.0,34.046822,-118.248352,6579.0,NaN,One Way,Staff Annual,"{'longitude': '-118.260857', 'latitude': '34.0...","{'longitude': '-118.248352', 'latitude': '34.0..."
56056,8585365,73620,2016-10-02T01:25:00,2016-10-02T21:52:00,3082.0,34.046520,-118.237411,3000.0,NaN,NaN,5949.0,0.0,One Way,Walk-up,"{'longitude': '-118.237411', 'latitude': '34.0...",NaN
56075,8580177,45360,2016-10-02T07:55:00,2016-10-02T20:31:00,3008.0,34.046612,-118.262733,3000.0,NaN,NaN,6527.0,0.0,One Way,Walk-up,"{'longitude': '-118.262733', 'latitude': '34.0...",NaN
56251,8645647,76020,2016-10-02T13:51:00,2016-10-03T10:58:00,3005.0,34.048550,-118.259048,3000.0,NaN,NaN,5976.0,0.0,One Way,Walk-up,"{'longitude': '-118.259048', 'latitude': '34.0...",NaN
56277,8559547,8340,2016-10-02T14:20:00,2016-10-02T16:39:00,3049.0,34.056969,-118.253593,3000.0,NaN,NaN,6206.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.253593', 'latitude': '34.0...",NaN
56613,8640407,2820,2016-10-03T08:35:00,2016-10-03T09:22:00,3062.0,34.047749,-118.243172,NaN,NaN,NaN,5908.0,NaN,One Way,Staff Annual,"{'longitude': '-118.243172', 'latitude': '34.0...",NaN
56717,8669590,10980,2016-10-03T12:11:00,2016-10-03T15:14:00,3019.0,34.038609,-118.260857,3000.0,NaN,NaN,5832.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.260857', 'latitude': '34.0...",NaN
56798,8664465,2280,2016-10-03T14:01:00,2016-10-03T14:39:00,3032.0,34.049889,-118.255882,3000.0,NaN,NaN,5862.0,0.0,One Way,Walk-up,"{'longitude': '-118.255882', 'latitude': '34.0...",NaN
56847,8679612,4800,2016-10-03T15:52:00,2016-10-03T17:12:00,3052.0,34.051102,-118.264557,3000.0,NaN,NaN,6103.0,0.0,One Way,Walk-up,"{'longitude': '-118.264557', 'latitude': '34.0...",NaN
56854,8674462,420,2016-10-03T16:05:00,2016-10-03T16:12:00,3040.0,34.053570,-118.266357,3035.0,34.048401,-118.260948,6664.0,NaN,One Way,Staff Annual,"{'longitude': '-118.266357', 'latitude': '34.0...","{'longitude': '-118.260948', 'latitude': '34.0..."
56858,8674458,600,2016-10-03T16:10:00,2016-10-03T16:20:00,3064.0,34.046810,-118.256981,3000.0,NaN,NaN,6146.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.256981', 'latitude': '34.0...",NaN
57202,8747945,60,2016-10-04T07:30:00,2016-10-04T07:31:00,3069.0,34.050880,-118.248253,3069.0,34.050880,-118.248253,5776.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.248253', 'latitude': '34.0...","{'longitude': '-118.248253', 'latitude': '34.0..."
57204,8747949,480,2016-10-04T07:30:00,2016-10-04T07:38:00,3064.0,34.046810,-118.256981,3000.0,NaN,NaN,5910.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.256981', 'latitude': '34.0...",NaN
57226,8747928,60,2016-10-04T07:59:00,2016-10-04T08:00:00,3028.0,34.058319,-118.246094,3028.0,34.058319,-118.246094,6574.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.246094', 'latitude': '34.0...","{'longitude': '-118.246094', 'latitude': '34.0..."
57240,8752638,600,2016-10-04T08:21:00,2016-10-04T08:31:00,3042.0,34.049301,-118.238808,3063.0,34.049198,-118.252831,6006.0,NaN,One Way,Staff Annual,"{'longitude': '-118.238808', 'latitude': '34.0...","{'longitude': '-118.252831', 'latitude': '34.0..."
57256,8772191,12540,2016-10-04T08:37:00,2016-10-04T12:06:00,3062.0,34.047749,-118.243172,NaN,NaN,NaN,6566.0,NaN,One Way,Staff Annual,"{'longitude': '-118.243172', 'latitude': '34.0...",NaN
57613,8802775,3420,2016-10-04T17:47:00,2016-10-04T18:44:00,3007.0,34.050480,-118.254593,3000.0,NaN,NaN,5847.0,30.0,One Way,Monthly Pass,"{'longitude': '-118.254593', 'latitude': '34.0...",NaN
57762,8877854,43080,2016-10-04T21:44:00,2016-10-05T09:42:00,3052.0,34.051102,-118.264557,3000.0,NaN,NaN,5974.0,0.0,One Way,Walk-up,"{'longitude': '-118.264557', 'latitude': '34.0...",NaN
57883,8872739,600,2016-10-05T08:36:00,2016-10-05T08:46:00,3042.0,34.049301,-118.238808,3063.0,34.049198,-118.252831,6216.0,NaN,One Way,Staff Annual,"{'longitude': '-118.238808', 'latitude': '34.0...","{'longitude': '-118.252831', 'latitude': '34.0..."
57885,8877694,3180,2016-10-05T08:38:00,2016-10-05T09:31:00,3062.0,34.047749,-118.243172,NaN,NaN,NaN,6273.0,NaN,One Way,Staff Annual,"{'longitude': '-118.243172', 'latitude': '34.0...",NaN
57914,8877654,1140,2016-10-05T09:06:00,2016-10-05T09:25:00,3052.0,34.051102,-118.264557,3082.0,34.046520,-118.237411,6658.0,NaN,One Way,Staff Annual,"{'longitude': '-118.264557', 'latitude': '34.0...","{'longitude': '-118.237411', 'latitude': '34.0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132397,23656661,180,2017-03-31T22:04:00,2017-03-31T22:07:00,3006.0,34.045540,-118.256668,3005.0,34.048550,-118.259048,6645.0,30.0,One Way,Monthly Pass,NaN,"{'longitude': '-118.259048', 'latitude': '34.0..."
132398,23656660,1320,2017-03-31T22:05:00,2017-03-31T22:27:00,3055.0,34.044159,-118.251579,3058.0,34.035801,-118.233170,6717.0,365.0,One Way,Flex Pass,NaN,"{'longitude': '-118.23317', 'latitude': '34.03..."
132399,23656659,300,2017-03-31T22:05:00,2017-03-31T22:10:00,3008.0,34.046612,-118.262733,3052.0,34.051102,-118.264557,6569.0,30.0,One Way,Monthly Pass,NaN,"{'longitude': '-118.264557', 'latitude': '34.0..."
132400,23656658,1260,2017-03-31T22:06:00,2017-03-31T22:27:00,3055.0,34.044159,-118.251579,3058.0,34.035801,-118.233170,6047.0,365.0,One Way,Flex Pass,NaN,"{'longitude': '-118.23317', 'latitude': '34.03..."
132401,23656657,420,2017-03-31T22:17:00,2017-03-31T22:24:00,3082.0,34.046520,-118.237411,3069.0,34.050880,-118.248253,6100.0,30.0,One Way,Monthly Pass,NaN,"{'longitude': '-118.248253', 'latitude': '34.0..."
132402,23656656,300,2017-03-31T22:21:00,2017-03-31T22:26:00,3028.0,34.058319,-118.246094,3014.0,34.056610,-118.237213,6641.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.237213', 'latitude': '34.0..."
132403,23661008,3180,2017-03-31T22:23:00,2017-03-31T23:16:00,3014.0,34.056610,-118.237213,3022.0,34.046070,-118.233093,6390.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.233093', 'latitude': '34.0..."
132404,23656655,480,2017-03-31T22:26:00,2017-03-31T22:34:00,3064.0,34.046810,-118.256981,3034.0,34.042061,-118.263382,6520.0,30.0,One Way,Monthly Pass,NaN,"{'longitude': '-118.263382', 'latitude': '34.0..."
132405,23656654,180,2017-03-31T22:26:00,2017-03-31T22:29:00,3057.0,34.035679,-118.270813,3025.0,34.032860,-118.268082,6053.0,30.0,One Way,Monthly Pass,NaN,"{'longitude': '-118.268082', 'latitude': '34.0..."
132406,23661005,2940,2017-03-31T22:27:00,2017-03-31T23:16:00,3014.0,34.056610,-118.237213,3022.0,34.046070,-118.233093,6641.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.233093', 'latitude': '34.0..."
132407,23656653,840,2017-03-31T22:30:00,2017-03-31T22:44:00,3025.0,34.032860,-118.268082,3057.0,34.035679,-118.270813,6238.0,30.0,One Way,Monthly Pass,NaN,"{'longitude': '-118.270813', 'latitude': '34.0..."
132408,23664842,5280,2017-03-31T22:47:00,2017-04-01T00:15:00,3082.0,34.046520,-118.237411,3082.0,34.046520,-118.237411,6326.0,0.0,Round Trip,Walk-up,NaN,"{'longitude': '-118.237411', 'latitude': '34.0..."
132409,23664841,5220,2017-03-31T22:48:00,2017-04-01T00:15:00,3082.0,34.046520,-118.237411,3082.0,34.046520,-118.237411,6072.0,0.0,Round Trip,Walk-up,NaN,"{'longitude': '-118.237411', 'latitude': '34.0..."
132410,23732455,70020,2017-03-31T22:48:00,2017-04-01T18:15:00,3062.0,34.047749,-118.243172,3048.0,34.041691,-118.235352,5997.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.235352', 'latitude': '34.0..."
132411,23741000,76500,2017-03-31T23:02:00,2017-04-01T20:17:00,3064.0,34.046810,-118.256981,3000.0,NaN,NaN,6146.0,0.0,One Way,Walk-up,NaN,NaN
132412,23661002,540,2017-03-31T23:15:00,2017-03-31T23:24:00,3027.0,34.049980,-118.247162,3064.0,34.046810,-118.256981,5850.0,NaN,One Way,Monthly Pass,NaN,"{'longitude': '-118.256981', 'latitude': '34.0..."
132413,23661003,600,2017-03-31T23:15:00,2017-03-31T23:25:00,3027.0,34.049980,-118.247162,3064.0,34.046810,-118.256981,6579.0,30.0,One Way,Monthly Pass,NaN,"{'longitude': '-118.256981', 'latitude': '34.0..."
132414,23661001,1020,2017-03-31T23:18:00,2017-03-31T23:35:00,3019.0,34.038609,-118.260857,3066.0,34.063389,-118.236160,5767.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.23616', 'latitude': '34.06..."
132415,23661000,1320,2017-03-31T23:20:00,2017-03-31T23:42:00,3069.0,34.050880,-118.248253,3006.0,34.045540,-118.256668,6100.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.256668', 'latitude': '34.0..."
132416,23660999,1260,2017-03-31T23:21:00,2017-03-31T23:42:00,3069.0,34.050880,-118.248253,3006.0,34.045540,-118.256668,6247.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.256668', 'latitude': '34.0..."
132417,23660998,1020,2017-03-31T23:28:00,2017-03-31T23:45:00,3031.0,34.044701,-118.252441,3055.0,34.044159,-118.251579,6311.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.251579', 'latitude': '34.0..."
132418,23660997,780,2017-03-31T23:35:00,2017-03-31T23:48:00,3055.0,34.044159,-118.251579,3075.0,34.042110,-118.256187,6049.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.256187', 'latitude': '34.0..."
132419,23660996,720,2017-03-31T23:36:00,2017-03-31T23:48:00,3055.0,34.044159,-118.251579,3075.0,34.042110,-118.256187,6441.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.256187', 'latitude': '34.0..."
132420,23660995,600,2017-03-31T23:37:00,2017-03-31T23:47:00,3030.0,34.051941,-118.243530,3055.0,34.044159,-118.251579,6727.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.251579', 'latitude': '34.0..."
132421,23660994,720,2017-03-31T23:41:00,2017-03-31T23:53:00,3055.0,34.044159,-118.251579,3035.0,34.048401,-118.260948,6143.0,30.0,One Way,Monthly Pass,NaN,"{'longitude': '-118.260948', 'latitude': '34.0..."
132422,23660993,540,2017-03-31T23:43:00,2017-03-31T23:52:00,3055.0,34.044159,-118.251579,3035.0,34.048401,-118.260948,5978.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.260948', 'latitude': '34.0..."
132423,23660992,480,2017-03-31T23:44:00,2017-03-31T23:52:00,3055.0,34.044159,-118.251579,3035.0,34.048401,-118.260948,6478.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.260948', 'latitude': '34.0..."
132424,23660991,480,2017-03-31T23:44:00,2017-03-31T23:52:00,3082.0,34.046520,-118.237411,3054.0,34.039219,-118.236488,6183.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.236488', 'latitude': '34.0..."
132425,23660990,420,2017-03-31T23:45:00,2017-03-31T23:52:00,3082.0,34.046520,-118.237411,3054.0,34.039219,-118.236488,5900.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.236488', 'latitude': '34.0..."
132426,23664826,1260,2017-03-31T23:45:00,2017-04-01T00:06:00,3078.0,34.064281,-118.238937,3029.0,34.048851,-118.246422,6207.0,0.0,One Way,Walk-up,NaN,"{'longitude': '-118.246422', 'latitude': '34.0..."

'{"Starting Station Latitude":{"3000.0":null,"3005.0":34.0485497,"3006.0":34.0455399,"3007.0":34.0504799,"3008.0":34.0466118,"3009.0":33.987381,"3010.0":34.0370483,"3011.0":34.0411301,"3014.0":34.0566101,"3016.0":34.0528984,"3018.0":34.0437317,"3019.0":34.0386086,"3020.0":34.0310516,"3021.0":34.0456085,"3022.0":34.0460701,"3023.0":34.0509109,"3024.0":34.0577202,"3025.0":34.0328598,"3026.0":34.063179,"3027.0":34.0499802,"3028.0":34.0583191,"3029.0":34.048851,"3030.0":34.0519409,"3031.0":34.0447006,"3032.0":34.0498886,"3033.0":34.0409889,"3034.0":34.0420609,"3035.0":34.0484009,"3036.0":34.0391884,"3037.0":34.0348015,"3038.0":34.0468216,"3039.0":34.024479,"3040.0":34.0535698,"3042.0":34.0493011,"3045.0":34.028511,"3046.0":34.0530205,"3047.0":34.0399818,"3048.0":34.0416908,"3049.0":34.0569687,"3051.0":34.0454216,"3052.0":34.0511017,"3053.0":34.0400391,"3054.0":34.0392189,"3055.0":34.0441589,"3056.0":34.0374603,"3057.0":34.0356789,"3058.0":34.0358009,"3059.0":34.0379486,"3060.0":34.0348816,"3062.0":34.0477486,"3063.0":34.0491982,"3064.0":34.0468102,"3065.0":34.0605583,"3066.0":34.0633888,"3067.0":34.0451813,"3068.0":34.0531998,"3069.0":34.0508804,"3074.0":34.0441704,"3075.0":34.0421104,"3076.0":34.0405998,"3077.0":34.0398712,"3078.0":34.0642815,"3079.0":34.0501404,"3080.0":34.0342102,"3081.0":34.0318909,"3082.0":34.0465202,"4108.0":34.02589},"Starting Station Longitude":{"3000.0":null,"3005.0":-118.259048,"3006.0":-118.256668,"3007.0":-118.254593,"3008.0":-118.262733,"3009.0":-118.472832,"3010.0":-118.254868,"3011.0":-118.267982,"3014.0":-118.237213,"3016.0":-118.241562,"3018.0":-118.260139,"3019.0":-118.260857,"3020.0":-118.26709,"3021.0":-118.23703,"3022.0":-118.233093,"3023.0":-118.240967,"3024.0":-118.24897,"3025.0":-118.268082,"3026.0":-118.24588,"3027.0":-118.247162,"3028.0":-118.246094,"3029.0":-118.246422,"3030.0":-118.24353,"3031.0":-118.252441,"3032.0":-118.255882,"3033.0":-118.255798,"3034.0":-118.263382,"3035.0":-118.260948,"3036.0":-118.232529,"3037.0":-118.231277,"3038.0":-118.248352,"3039.0":-118.393867,"3040.0":-118.266357,"3042.0":-118.238808,"3045.0":-118.256668,"3046.0":-118.247948,"3047.0":-118.266403,"3048.0":-118.235352,"3049.0":-118.253593,"3051.0":-118.253517,"3052.0":-118.264557,"3053.0":-118.26302,"3054.0":-118.236488,"3055.0":-118.251579,"3056.0":-118.265381,"3057.0":-118.270813,"3058.0":-118.23317,"3059.0":-118.256271,"3060.0":-118.25769,"3062.0":-118.243172,"3063.0":-118.252831,"3064.0":-118.256981,"3065.0":-118.238327,"3066.0":-118.23616,"3067.0":-118.250237,"3068.0":-118.250954,"3069.0":-118.248253,"3074.0":-118.261169,"3075.0":-118.256187,"3076.0":-118.253838,"3077.0":-118.250038,"3078.0":-118.238937,"3079.0":-118.233238,"3080.0":-118.254593,"3081.0":-118.250183,"3082.0":-118.237411,"4108.0":-118.238243}}'